@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Youtube video</h1>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/DHKm0JWnork" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <p>What motivates you?</p>
</div>

<div id="myContainer">
    <div id="myAnimation"></div>
</div>